doctype html
head
	meta(charset='utf-8')
	link(rel='stylesheet', type='text/css', href='/css/main.css')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
	title realtime.recurse.com
body
	#greentop
	h1 realtime.recurse.com
	if dataAvailable
		table
			//-thead
			each data, name in cache
				tr
					td= name
					td
						a(href=data.url)= data.url
	else
		#nodata No data to display. Perhaps you should 
			a(href='https://github.com/strugee/realtime.recurse.com') install the client
			|  and work on something?

	footer
		a(href='https://github.com/strugee/realtime.recurse.com') Install the client
		|  | 
		a(href='https://github.com/strugee/realtime.recurse.com') Source code
